.rmit-logo-rtbw-small {
  background-image: url("./img/rt_bw.jpg");
  background-size: 164.4px 69.3px;
  background-repeat: no-repeat;
  width: 164.4px;
  height: 69.3px;
}
.rmit-logo-rtbw-normal {
  background-image: url("./img/rt_bw.jpg");
  background-size: 274px 115.5px;
  background-repeat: no-repeat;
  width: 274px;
  height: 115.5px;
}
.rmit-logo-rtbw-large {
  background-image: url("./img/rt_bw.jpg");
  background-size: 438.40000000000003px 184.8px;
  background-repeat: no-repeat;
  width: 438.40000000000003px;
  height: 184.8px;
}
.rmit-logo-rtbw-original {
  background-image: url("./img/rt_bw.jpg");
  background-size: 548px 231px;
  background-repeat: no-repeat;
  width: 548px;
  height: 231px;
}
.rmit-logo-rt-small {
  background-image: url("./img/rt_colour.jpg");
  background-size: 162.9px 69.6px;
  background-repeat: no-repeat;
  width: 162.9px;
  height: 69.6px;
}
.rmit-logo-rt-normal {
  background-image: url("./img/rt_colour.jpg");
  background-size: 271.5px 116px;
  background-repeat: no-repeat;
  width: 271.5px;
  height: 116px;
}
.rmit-logo-rt-large {
  background-image: url("./img/rt_colour.jpg");
  background-size: 434.40000000000003px 185.60000000000002px;
  background-repeat: no-repeat;
  width: 434.40000000000003px;
  height: 185.60000000000002px;
}
.rmit-logo-rt-original {
  background-image: url("./img/rt_colour.jpg");
  background-size: 543px 232px;
  background-repeat: no-repeat;
  width: 543px;
  height: 232px;
}
.rmit-logo-rt-reverse-small {
  background-image: url("./img/rt_colour_reverse.jpg");
  background-size: 164.1px 69.89999999999999px;
  background-repeat: no-repeat;
  width: 164.1px;
  height: 69.89999999999999px;
}
.rmit-logo-rt-reverse-normal {
  background-image: url("./img/rt_colour_reverse.jpg");
  background-size: 273.5px 116.5px;
  background-repeat: no-repeat;
  width: 273.5px;
  height: 116.5px;
}
.rmit-logo-rt-reverse-large {
  background-image: url("./img/rt_colour_reverse.jpg");
  background-size: 437.6px 186.4px;
  background-repeat: no-repeat;
  width: 437.6px;
  height: 186.4px;
}
.rmit-logo-rt-reverse-original {
  background-image: url("./img/rt_colour_reverse.jpg");
  background-size: 547px 233px;
  background-repeat: no-repeat;
  width: 547px;
  height: 233px;
}
.rmit-logo-publishing-small {
  background-image: url("./img/publishing_colour.jpg");
  background-size: 177px 70.5px;
  background-repeat: no-repeat;
  width: 177px;
  height: 70.5px;
}
.rmit-logo-publishing-normal {
  background-image: url("./img/publishing_colour.jpg");
  background-size: 295px 117.5px;
  background-repeat: no-repeat;
  width: 295px;
  height: 117.5px;
}
.rmit-logo-publishing-large {
  background-image: url("./img/publishing_colour.jpg");
  background-size: 472px 188px;
  background-repeat: no-repeat;
  width: 472px;
  height: 188px;
}
.rmit-logo-publishing-original {
  background-image: url("./img/publishing_colour.jpg");
  background-size: 590px 235px;
  background-repeat: no-repeat;
  width: 590px;
  height: 235px;
}
.rmit-logo-publishing-reverse-small {
  background-image: url("./img/publishing_colour_reverse.jpg");
  background-size: 177px 70.5px;
  background-repeat: no-repeat;
  width: 177px;
  height: 70.5px;
}
.rmit-logo-publishing-reverse-normal {
  background-image: url("./img/publishing_colour_reverse.jpg");
  background-size: 295px 117.5px;
  background-repeat: no-repeat;
  width: 295px;
  height: 117.5px;
}
.rmit-logo-publishing-reverse-large {
  background-image: url("./img/publishing_colour_reverse.jpg");
  background-size: 472px 188px;
  background-repeat: no-repeat;
  width: 472px;
  height: 188px;
}
.rmit-logo-publishing-reverse-original {
  background-image: url("./img/publishing_colour_reverse.jpg");
  background-size: 590px 235px;
  background-repeat: no-repeat;
  width: 590px;
  height: 235px;
}
.rmit-logo-publishingbw-small {
  background-image: url("./img/publishing_bw.jpg");
  background-size: 177.9px 69.3px;
  background-repeat: no-repeat;
  width: 177.9px;
  height: 69.3px;
}
.rmit-logo-publishingbw-normal {
  background-image: url("./img/publishing_bw.jpg");
  background-size: 296.5px 115.5px;
  background-repeat: no-repeat;
  width: 296.5px;
  height: 115.5px;
}
.rmit-logo-publishingbw-large {
  background-image: url("./img/publishing_bw.jpg");
  background-size: 474.40000000000003px 184.8px;
  background-repeat: no-repeat;
  width: 474.40000000000003px;
  height: 184.8px;
}
.rmit-logo-publishingbw-original {
  background-image: url("./img/publishing_bw.jpg");
  background-size: 593px 231px;
  background-repeat: no-repeat;
  width: 593px;
  height: 231px;
}
.rmit-logo-publishingbw-reverse-small {
  background-image: url("./img/publishing_bw_reverse.jpg");
  background-size: 175.79999999999998px 68.39999999999999px;
  background-repeat: no-repeat;
  width: 175.79999999999998px;
  height: 68.39999999999999px;
}
.rmit-logo-publishingbw-reverse-normal {
  background-image: url("./img/publishing_bw_reverse.jpg");
  background-size: 293px 114px;
  background-repeat: no-repeat;
  width: 293px;
  height: 114px;
}
.rmit-logo-publishingbw-reverse-large {
  background-image: url("./img/publishing_bw_reverse.jpg");
  background-size: 468.8px 182.4px;
  background-repeat: no-repeat;
  width: 468.8px;
  height: 182.4px;
}
.rmit-logo-publishingbw-reverse-original {
  background-image: url("./img/publishing_bw_reverse.jpg");
  background-size: 586px 228px;
  background-repeat: no-repeat;
  width: 586px;
  height: 228px;
}
.rmit-logo-rt-informit-small {
  background-image: url("./img/informit_colour.jpg");
  background-size: 324.6px 94.4px;
  background-repeat: no-repeat;
  width: 324.6px;
  height: 94.4px;
}
.rmit-logo-rt-informit-normal {
  background-image: url("./img/informit_colour.jpg");
  background-size: 486.9px 141.6px;
  background-repeat: no-repeat;
  width: 486.9px;
  height: 141.6px;
}
.rmit-logo-rt-informit-large {
  background-image: url("./img/informit_colour.jpg");
  background-size: 811.5px 236px;
  background-repeat: no-repeat;
  width: 811.5px;
  height: 236px;
}
.rmit-logo-rt-informit-original {
  background-image: url("./img/informit_colour.jpg");
  background-size: 1623px 472px;
  background-repeat: no-repeat;
  width: 1623px;
  height: 472px;
}
