@import "rmit-color.less";
@import "rmit-font.less";

@logo-base-size:20;
@logo-size-sml:@logo-base-size/2;
@logo-size-nml:@logo-base-size;
@logo-size-lrg:@logo-base-size*2;
@logo-size-xlrg:@logo-base-size*4;
@logo-size-xxlrg:@logo-base-size*8;
@logo-size-xxxlrg:@logo-base-size*16;
@logo-image-margin-offset:15px;

.f-rmit-logo(@size:@logo-size-nml,@name:'TRAINING',@logo-color:@pms485,@name-color:black,@background-color:white){
	float:left;
	position:relative;
	background-color:@background-color;
	width:unit(@size*30,px);
	//height:@size*11;
	clear:left;
	padding-right:unit(@size*0.75,px);
	padding-left:unit(@size*2,px);
	span[class|="logo"]{
		float:left;
		position:relative;
				
		&.logo-left,&.logo-middle,&.logo-right,&.logo-half-circle{
			background-color:@logo-color;
			margin-top:unit(@size*2.35,px);
		}
		
		&.logo-left{
			top:unit(@size*2,px);
			height:unit(@size,px);
			width:unit(@size*0.75,px);
		}
		
		&.logo-middle{
			top:unit(@size,px);
			height:unit(@size*3,px);
			width:unit(@size*0.75,px);
		}
		
		&.logo-right{
				width:unit(@size*0.75,px);
				height:unit(@size*5,px); 
				background-color:@logo-color;
			}
			
		&.logo-half-circle{
			height:unit(@size*5,px); 
			width:unit(@size*5/2,px);
			border-radius:0 unit(@size*5/2,px) unit(@size*5/2,px) 0;
		}
		
		
		&.logo-name:before,
		&.logo-name:after{
			display:block;
		}
		
		&.logo-name:before{
			content:'RMIT';
			color:@name-color;
			font-size:unit(@size*7,px);
			font-family: 'Bodoni MT',Arial,Verdana;
		}
		
		&.logo-name{
			margin-left:unit(@size,px);;
			display:block;

		}
		
		&.logo-name:after{
			content:@name;
			font-weight:bold;
			border-top:2px solid @name-color;
			color:@name-color;
			font-size:unit(@size*3.4,px);
			clear:both;
			margin-top:unit(-@size*1,px);
			font-family: 'Museo300',Arial,Verdana;
			white-space: pre-wrap;
			line-height: 1.1;
		}
	}
}

//define the logo with different color stytle
.f-rmit-logo-base-color(@size:@logo-size-nml,@department:'TRAINING'){
	.f-rmit-logo(@size,@department);
	
	&.reverse{
		.f-rmit-logo(@size,@department,@pms485,white,black);
	}
	&.bw{
		.f-rmit-logo(@size,@department,black,black,white);
	}
	&.bw.reverse{
		.f-rmit-logo(@size,@department,white,white,black);
	}
}

//define teh logo with different size
.f-rmit-logo-base-color-and-base-size(@tag,@department){
	(~".@{tag}-sml") {
			.f-rmit-logo-base-color(@logo-size-sml,@department);
	}
	
	(~".@{tag}"),(~".@{tag}-nml") {
			.f-rmit-logo-base-color(@logo-size-nml,@department);
	}
	
	(~".@{tag}-lrg") {
			.f-rmit-logo-base-color(@logo-size-lrg,@department);
	}
	
	(~".@{tag}-xlrg") {
			.f-rmit-logo-base-color(@logo-size-xlrg,@department);
	}
	
	(~".@{tag}-xxlrg") {
			.f-rmit-logo-base-color(@logo-size-xxlrg,@department);
	}
	
	(~".@{tag}-xxxlrg") {
			.f-rmit-logo-base-color(@logo-size-xxxlrg,@department);
	}
}


.f-rmit-logo-base-color-and-base-size("rmit-logo","TRAINING");
.f-rmit-logo-base-color-and-base-size("rmitp-logo","PUBLISHISH");
.f-rmit-logo-base-color-and-base-size("rmit-uni-logo","UNIVERSITY");
.f-rmit-logo-base-color-and-base-size("rmit-logo-shortcourse","SHORT\A COURSES");
.f-rmit-logo-base-color-and-base-size("rmit-logo-rew","ENGLISH\A WORLDWIDE");



//rmit test
.rmit-logo-test{
	.f-rmit-logo(@logo-size-lrg,'SHORT \A COURSES',@pmsyellow,@pms2602,@pmsprocessblue);
}